@model RiverHouse.ViewModels.MemberPageViewModel
@{
    ViewBag.Title = "Member Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var totalPayment = 0.0;
    var totalCollect = 0.0;
    foreach (var bill in @Model.Bills)
    {
        if (!bill.Pending && !bill.IsPaid)
        {
            totalPayment += bill.Amount;
        }        
    }
    foreach (var party in @Model.Events)
    {
        totalCollect += party.TotalRemain;
    }
}
<h2>@Model.Member.Name</h2>    
@if ((int)totalPayment == 0)
{
    <h4><i>You have no payment right now</i></h4>  
    <h4><i><a href='../Events/'>Go to other events/payments</a></i></h4>
}
else
{
    <h4>Payment Remaining: $@totalPayment</h4>  
}
@if (Model.Bills.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Pay For</th>  
            <th>Date</th>  
            <th>Payment Of</th>    
            <th>Total</th>   
            <th>Payment</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bill in @Model.Bills)
        {
            <tr>
                <td>@bill.PaidFor</td>  
                <td>@bill.DateCreated.ToShortDateString()</td>
                <td>@bill.Name</td>   
                <td>$@bill.Amount</td>   
                @if (bill.IsPaid)
                {
                    <td>Paid</td>
                }
                else if (bill.Pending)
                {
                    <td>Pending</td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Waiting For Payment", "EditPaymentStatus", "Bills",
                            new {id = bill.Id},
                            new { @onclick = "return Submit();" })</td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@if (Model.Events.Count > 0)
{
    if (totalCollect > 0)
    {
        <h4>You still need to collect $@totalCollect from:</h4>
    }
    else
    {
        <h4><i>You have no payment to collect</i></h4>
    }

    <table id="members" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Payment</th>
            <th>Date</th>
            <th>Members</th>
            <th>Total Remain</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

} 
@section scripts
{  
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function Submit() {
            if (confirm("You already paid for this?")) {
                return true;
            } else {
                return false;
            }
        }

        $(document).ready(function () {
            

            var table = $("#members").DataTable({
                ajax: {
                    url: "/api/events/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, member) {
                            return "<a href='/events/detail/" + member.id + "'>" + member.name + "</a>";
                        }
                    },
                    {
                        data: "dateCreated",
                        render: function (data) {
                            var m = data.split(/[T-]/);
                            return m[1] + "/" + m[2] + "/" + m[0];
                        }
                    },
                    {
                        data: "guestCount"
                    },
                    {
                        data: "totalRemain",
                        render: function (data) {
                            if (data > 0) {
                                return "$" + data;
                            } else {
                                return "Completed";
                            }
                            
                        }
                    }                 
                ],
                searching: false, paging: false
            });            
        });
    </script>
}
